header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') Kanari
        .nav-collapse.collapse
          ul.nav
            //if (req.isAuthenticated())
            //  li(class=isActive('/admin/stations') ? 'active' : '')
            //    a(href="/admin/stations", title="stations") Stations
            //  li(class=isActive('/admin/cards') ? 'active' : '')
            //    a(href="/admin/cards", title="cards") Cards
            //  li(class=isActive('/admin/users') ? 'active' : '')
            //    a(href="/admin/users", title="users") Users
            //  li(class=isActive('/admin/checkins') ? 'active' : '')
            //    a(href="/admin/checkins", title="cards") Checkins
          //ul.nav.pull-right
          //
          //  if (req.isAuthenticated())
          //    li
          //      a(href="/users/"+req.user.id, title="Profile") Profile
          //    li
          //      a(href="/logout", title="logout") Logout
          //  else
          //    li
          //      a(href="/login", title="Login") Login
