extends layout

block content
  .container
    .row
      .jumbotron
        img.img-responsive(alt="Responsive image", src="/images/kanari-logo-final.gif")
        h4.tagline Live event testing and analytics for theater, music, presentations, anything you experience start to finish
    .panel
      .panel-body
        .row
          .col-md-4
            h2 Enter Event Code
          .col-md-4
            h2 Create Event
            a.btn.btn-primary.btn-lg.btn-block.kanari-btn(href="/events")
              Create Event
              span.glyphicon.glyphicon-chevron-right
          .col-md-4
            h2 Previous Events
    .row
      .col-md-12
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action="http://radiolivechicago.us2.list-manage.com/subscribe/post?u=b250a55dae7e8097911003bb5&id=bf9a2db01b", method="post", name="mc-embedded-subscribe-form", novalidate="", target="_blank")
            label(for="mce-EMAIL") Receive future updates:
            input#mce-EMAIL.email(name="EMAIL", placeholder="email address", required="", type="email", value="")
            .clear
              .actions
                input#mc-embedded-subscribe.button(name="subscribe", type="submit", value="Subscribe", class="btn btn-info btn-lg")



